.Card{
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background: white ;
    color: #2b2d42;
    border-radius: 20px;
    height: 220px;
    width: 175px;
    box-shadow: 5px 5px 15px rgba(83, 83, 83, 0.192) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition : 0.2s;
}

.profileImg{
    max-width: 100px;
    padding: 3px;
    background-color: #edf2f4;
    border-radius : 50%;
}
    
.CardText{
    text-align: center;
    font-size: 0.7em;
    margin: 20px auto;
    width: 130px;
    height: 50px;
}

.CardText > p {
    padding-top: 5px ;
    font-style: italic;
    word-wrap: break-word;
}

.follow{
    margin: 5px;
    font-size: 0.9rem;
    padding: 5px;
    color : #edf2f4;
    background: #d90429;
    border-radius: 16px;
    transition : 0.4s ;
}

.Followed{
    color : #edf2f4;
    background: #d90429;
}

